<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger">Welcome {{user | lowercase}}</a>
        <button
            class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
            type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Class</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Gread</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>


<table class="container table table-bordered table-hover">
    <thead>        
        <th>اسم المادة</th>
        <th>علامة الشفهي</th>
        <th>علامة الوظائف</th>
        <th>علامة المذاكرة</th>
        <th>علامة النشاط</th>
        <th>علامة الامتحان</th>
        <th>الإنضمام للدرس</th>

    </thead>
    <tbody>        
        <tr>
            <td>اللغة العربية</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><a href="https://classroom.google.com/c/NTk3NDcwMjQ5MTI0?cjc=xqvo7ip" target="_blank">الإنضمام للدرس</a></td>
        </tr>
        <tr>
            <td>اللغة الإنكليزية</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><a href="https://classroom.google.com/c/NTYzMjIwMDg0NDUz?cjc=fi6nzu2" target="_blank">الإنضمام للدرس</a></td>
        </tr>
        <tr>
            <td> التربية الدينية</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><a href="https://classroom.google.com/c/NjAwNTA2MjMzOTUy" target="_blank">الإنضمام للدرس</a></td>
        </tr>
        <tr>
            <td> اللرياضيات</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><a href="" target="_blank">الإنضمام للدرس</a></td>
        </tr>
        <tr>
            <td> الإجتماعيات</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><a href="" target="_blank">الإنضمام للدرس</a></td>
        </tr>
        
    </tbody>
</table>



